
<section [ngClass]="{'loading': !viewList.length}">
  <ul *ngIf="viewList.length">
    <li *ngFor="let item of viewList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" (click)="toDoEditList(item.id, item.task, item.checked)">
      <input type="text" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}" (keyup)="validaInput(item.id, item.task, item.checked)">

      <button (click)="toDoDeleteList(item.id)">
        <img src="../../../../../assets/icons/icon-trash.svg">
      </button>
    </li>
  </ul>
</section>

<app-todo-input-add-list (emitItem)="toDoAddList($event)"></app-todo-input-add-list>
<!-- <app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all> -->
